@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
<form class="formulario" method = "POST"   >
            <div class="texto-formulario">
                <h2>Bienvenido</h2>
                <p>Escribe tu número de dni para ver los resultados</p>
            </div>
            <div class="input">
                <label for="usuario">DNI:</label>
                <input placeholder="Ingresa tu número de DNI" type="text" id="dni" name="dni">
            </div>
           <br><br> 
            <div class="input">
                <input type="submit" value="Login" name = "botonIN">
            </div>
</div>